<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8b9e9">  <td>24/03/08 11:44:01</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@56673b2c]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>24/03/08 11:43:57</td>   <td>-3710</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetUp()[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@56673b2c]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>24/03/08 11:44:00</td>   <td>-572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@56673b2c]">validator</td> 
  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>24/03/08 11:44:00</td>   <td>-572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@56673b2c]">validator</td> 
  <td>main@147022238</td>   <td></td> </tr>
</table>
