<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abbcbd">  <td>24/03/08 11:52:48</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_SameClass_RestAssured.testSetUp()[pri:0, instance:data_driven.TestNG_DataProvider_SameClass_RestAssured@3b96c42e]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="81e361">  <td>24/03/08 11:52:59</td>   <td>11268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_PUT_API2.executor()[pri:0, instance:Test_Packages.TestCase_PUT_API2@30e868be]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="d4cd99">  <td>24/03/08 11:52:48</td>   <td>-15</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetUp()[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@66c92293]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/03/08 11:52:55</td>   <td>6857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_GET_API.executor()[pri:0, instance:Test_Packages.TestCase_GET_API@5ba88be8]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>24/03/08 11:52:53</td>   <td>4798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:data_driven.TestNG_DataProvider_SameClass_RestAssured@3b96c42e]">validator</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="61f9b0">  <td>24/03/08 11:52:57</td>   <td>8705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_POST_API_1.executor()[pri:0, instance:Test_Packages.TestCase_POST_API_1@1603cd68]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="d4cd99">  <td>24/03/08 11:53:01</td>   <td>13114</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@66c92293]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>24/03/08 11:52:53</td>   <td>4798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:data_driven.TestNG_DataProvider_SameClass_RestAssured@3b96c42e]">validator</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="907a8c">  <td>24/03/08 11:52:56</td>   <td>8126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_POST_API_2.executor()[pri:0, instance:Test_Packages.TestCase_POST_API_2@3899782c]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/08 11:53:01</td>   <td>13117</td> <td>&nbsp;</td><td title="&lt;&lt;testNG_Annotation_RestAssured_Example.evidenceCreator()[pri:0, instance:data_driven.testNG_Annotation_RestAssured_Example@1e461e41]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="8cba79">  <td>24/03/08 11:52:59</td>   <td>10649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_PUT_API1.executor()[pri:0, instance:Test_Packages.TestCase_PUT_API1@38089a5a]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/08 11:52:48</td>   <td>1</td> <td>&nbsp;</td><td title="&gt;&gt;testNG_Annotation_RestAssured_Example.testSetUp()[pri:0, instance:data_driven.testNG_Annotation_RestAssured_Example@1e461e41]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="d4cd99">  <td>24/03/08 11:53:00</td>   <td>12435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@66c92293]">validator</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="9ed6da">  <td>24/03/08 11:52:57</td>   <td>9280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_PATCH_API1.executor()[pri:0, instance:Test_Packages.TestCase_PATCH_API1@9ebe38b]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/03/08 11:52:54</td>   <td>5562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_PATCH_API.executor()[pri:0, instance:Test_Packages.TestCase_PATCH_API@5d066c7d]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/08 11:52:54</td>   <td>6248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNG_Annotation_RestAssured_Example.validator()[pri:0, instance:data_driven.testNG_Annotation_RestAssured_Example@1e461e41]">validator</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="d4cd99">  <td>24/03/08 11:53:00</td>   <td>12435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:data_driven.TestNG_DataProvider_DifferentClass_RestAssured@66c92293]">validator</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="dc6975">  <td>24/03/08 11:52:49</td>   <td>670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_POST_API.executor()[pri:0, instance:Test_Packages.TestCase_POST_API@15713d56]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/03/08 11:52:51</td>   <td>3394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_PUT_API.executor()[pri:0, instance:Test_Packages.TestCase_PUT_API@1fc32e4f]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>24/03/08 11:53:01</td>   <td>13117</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_SameClass_RestAssured.evidenceCreator()[pri:0, instance:data_driven.TestNG_DataProvider_SameClass_RestAssured@3b96c42e]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/03/08 11:52:55</td>   <td>7386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_DELETE_API.executor()[pri:0, instance:Test_Packages.TestCase_DELETE_API@56928307]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
<tr bgcolor="61a963">  <td>24/03/08 11:52:58</td>   <td>9943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_PATCH_API2.executor()[pri:0, instance:Test_Packages.TestCase_PATCH_API2@4b23c30a]">executor</td> 
  <td>main@1357686726</td>   <td></td> </tr>
</table>
